<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Add a New Plan
    </h1>

    <form action="/insert_plan" method="post">

      <div class="form-group">
        <label for="recipient_id_box">
          Recipient Username
        </label>

        <input type="text" id="recipient_id_box" name="query_recipient_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="plan_time_box">
          Plan Time
        </label>

        <input type="datetime-local" id="plan_time_box" name="query_plan_time" class="form-control">
      </div>

      <div class="form-group">
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Make Plan
      </button>
    </form>
  </div>
</div>

<hr>
<h1>Your Plans</h1>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Recipient Username
        </th>

        <th>
          Status
        </th>

        <th>
          Plan Time
        </th>

        <th>
          Location
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @plans.each do |plan| %>
      <tr>

        <td>
          <%= plan.recipient %>
        </td>

        <td>
          <%= plan.status %>
        </td>

        <td>
          <%= plan.plan_time %>
        </td>

        <td>
          <%= plan.location %>
        </td>

        <td>
          <%= time_ago_in_words(plan.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(plan.updated_at) %> ago
        </td>

        <td>
          <a href="/plans/<%= plan.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
